* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #006CBB;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
padding: 15px;
}

main.container {
background-color: #0d0d0d;
width: 100%; 
max-width: 400px;
padding: 20px; 
border-radius: 10px;
position: relative;
margin: 0 auto;
}

section.card {
background-color: #dcdcdc;
padding: 25px; 
border-radius: 10px;
}

h2 {
text-align: center;
font-weight: bold;
margin-bottom: 15px;
font-size: 24px; 
}

hr {
margin-bottom: 20px; 
}

section.text p {
font-size: 18px; 
line-height: 1.6; 
}

header.voltar {
position: absolute;
top: 15px; 
right: 15px; 
border: none;
border-radius: 50%;
width: 50px; 
height: 50px; 
display: flex;
justify-content: center;
align-items: center;
}

section.card {
padding: 30px; 
}
