html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #006CBB;
    color: black;
}

header {
    height: 3.75rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.625rem;
}

.btn-voltar {
    background-color: #d9d9d9;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5625rem;
}

.trajeto {
    background-color: #d9d9d9;
    border-radius: 1.875rem;
    padding: 1.25rem 2.5rem;
    text-align: center;
    font-size:2rem;
}

.trajeto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
}

.seta {
    font-size: 1.75rem;
    margin: 0.625rem 0;
}

.filtro {
    background-color: #d9d9d9;
    width: 85%;
    border-radius: 1.875rem;
    padding: 3.25rem;
}

.filtro h2 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}

.opcao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 0.125rem solid black;
    padding: 0.9375rem 0;
    font-size: 1.5rem;
}

.opcao:first-of-type {
    border-top: none;
}

.numero {
    font-size: 1.75rem;
    font-weight: bold;
    width: 1.875rem;
    text-align: center;
}

.numero span {
    font-size: 1rem;
}

.descricao {
    flex-grow: 1;
    padding-left: 0.625rem;
    white-space: pre-line;
    font-size: 1.5rem;
}

.destaque {
    font-size: 1.875rem;
    font-style: italic;
    white-space: nowrap;
}
.opcao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.btn-rota {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    white-space: nowrap;
}